<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
<property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>	
<property name="hibernate.connection.url">jdbc:sqlserver://192.168.93.242:1433;instanceName=MSSQLSERVER2008;databaseName=TEST_HRMS</property>
<property name="hibernate.connection.username">sa</property>	
	<property name="hibernate.connection.password">sa@123</property>
	  <property name="hibernate.connection.pool_size">50</property>
	         <property name="hibernate.show_sql">true</property>
		<property name="dialect">org.hibernate.dialect.SQLServerDialect</property>
		      <property name="hibernate.hbm2ddl.auto">update</property>
		      <mapping class="com.ebix.autocomplete.employee.model.Employee" />
</session-factory>
</hibernate-configuration>
